.gradientSvg {
    width: 1861.33px;
    height: 865.29px;
    left: -365px;
    top: -314px;

    background: linear-gradient(180deg, #1E8976 0%, #319785 0.01%, rgba(79, 209, 197, 0) 0.02%, rgba(79, 209, 197, 0.75) 66.31%, rgba(79, 209, 197, 0.75) 94.28%);
}

.gradientBackground {
    background-image: url("../public/filehost-index-gradient.svg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #70bg32;
    background-repeat:no-repeat;
}

